@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap');
@import 'variables';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $bg-color;
  color: $contrast-font;
  width: 100vw;
  height: 100vh;
}

@import 'header';

@import 'cards-container';

@import 'small-cards-container';

@import 'media';
