@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1d2029;
  color: #ccc;
  width: 100vw;
  height: 100vh;
}

.top {
  padding: 60px 300px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top p {
  color: #9299bc;
  font-weight: bold;
}

.top .toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .toggle-button p {
  margin-right: 15px;
}

.top .toggle-button .switch {
  position: relative;
  display: block;
  width: 63px;
  height: 30px;
}

.top .toggle-button .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(60deg, #1e3f5e, #08d3a0);
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top .toggle-button .switch .slider:before {
  position: absolute;
  content: '';
  top: 2px;
  left: 3px;
  background-color: #1d2029;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top .toggle-button .switch .slider.round:before {
  width: 26px;
  height: 26px;
  border-radius: 50px;
}

.top .toggle-button .switch input {
  display: none;
}

.top .toggle-button .switch input:checked + .slider {
  background: linear-gradient(-60deg, #1e3f5e, #08d3a0);
}

.top .toggle-button .switch input:checked + .slider:before {
  -webkit-transform: translateX(31px);
          transform: translateX(31px);
}

.cards-container {
  padding: 60px 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards-container .card {
  background-color: #252b43;
  padding: 0px 80px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.cards-container .card:hover {
  background-color: #333a56;
  cursor: pointer;
}

.cards-container .card.fb {
  border-top: 3px solid #178ff5;
}

.cards-container .card.tw {
  border-top: 3px solid #1da1f2;
}

.cards-container .card.ig {
  border-top: 3px solid;
  -o-border-image: linear-gradient(90deg, #f8e964, #d122b4) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#f8e964), to(#d122b4)) 1;
     border-image: linear-gradient(90deg, #f8e964, #d122b4) 1;
}

.cards-container .card.yt {
  border-top: 3px solid #c4032b;
}

.cards-container .card.yt .growth {
  color: #c4032b;
}

.cards-container .card .social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.cards-container .card .social-container p {
  color: #9299bc;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0 7px;
}

.cards-container h1 {
  font-size: 4rem;
}

.cards-container .followers {
  color: #9299bc;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

.cards-container .growth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3dbea8;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 30px 3px 20px 3px;
}

.cards-container .growth svg {
  margin-right: 6px;
}

.sub-header {
  padding: 0 300px;
}

.small-cards-container {
  padding: 10px 300px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.small-cards-container .small-card {
  background-color: #252b43;
  width: 300px;
  height: 140px;
  padding: 25px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
}

.small-cards-container .small-card:hover {
  background-color: #333a56;
  cursor: pointer;
}

.small-cards-container .small-card .row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-cards-container .small-card .row-one p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #9299bc;
}

.small-cards-container .small-card .row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-cards-container .small-card .row-two svg {
  margin-right: 6px;
}

.small-cards-container .small-card .row-two p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3dbea8;
  font-weight: bold;
  font-size: 0.8rem;
}

.small-cards-container .small-card.fb:nth-of-type(2) .row-two p {
  color: #c4032b;
}

.small-cards-container .small-card.yt .row-two p {
  color: #c4032b;
}

@media only screen and (max-width: 600px) {
  .top {
    padding: 20px 25px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top .top-title {
    margin-bottom: 20px;
  }
  .top .toggle-button {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top h1 {
    font-size: 1.1rem;
  }
  .top .line-breaker {
    height: 1px;
    background-color: #9299bc;
    margin-bottom: 20px;
    opacity: 0.7;
  }
  .cards-container,
  .small-cards-container {
    width: 70vw;
    padding: 20px 10px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card,
  .small-card {
    margin: 0 5px 30px;
    width: 200px;
  }
  .sub-header {
    padding: 20px 5px 10px;
  }
}
/*# sourceMappingURL=style.css.map */